<!DOCTYPE html>
<html lang="en" ng-app="fbApp">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Facebook, api">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DeepLearni Coding</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="js/fb.js"></script>
	<script src="js/services.js"></script>
	<link rel="stylesheet" href="./css/style.css" />
	<script
	  src="https://code.jquery.com/jquery-1.12.4.min.js"
	  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	  crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-controller="fbCtrl">
	<div class="container">
		<div class="sidebar col-md-3 col-xs-12">
			<div id="greeting">
				<h2>{{ greeting }}</h2>
				<img ng-src="{{ picture }}" alt="" ng-show="picture" />
			</div>
			<fb:login-button scope="user_friends,public_profile,email" size="large" autologoutlink="true"></fb:login-button>
		</div>
		<div class="main col-md-9 col-xs-12">
			<div ng-show="friends">
				<div class="list">
					<div class="col-md-6 col-xs-6 friend_item" ng-repeat="friend in friends.data">
						<div>
							<img ng-src="{{ friend.picture.data.url }}" alt="" />
							<p>{{ friend.name }}</p>
						</div>
					</div>
				</div>
				<div class="btn_paging">
					<div>
						<button ng-show="friends.paging.previous" ng-click="refresh(friends.paging.previous);" class="btn btn-default">Previous</button>
						<button ng-show="friends.paging.next" ng-click="refresh(friends.paging.next)" class="btn btn-default">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>